{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0"
  ],
  "plugins": [
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}
